<h2>Aulas</h2>

<div>
  <label for="new-aula">Nombre aula: </label>
  <input id="new-aula" #aulaName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(aulaName.value); aulaName.value=''">
    Añadir aula
  </button>
</div>

<ul class="aulas">
  <li *ngFor="let aula of aulas">
    <a routerLink="/detail/{{aula.id}}">
      <span class="badge">{{aula.id}}</span> {{aula.name}}
    </a>
    <button type="button" class="delete" title="delete aula"
      (click)="delete(aula)">x</button>
  </li>
</ul>



